[Desktop Entry]
Comment=SOVANNAPHUMI OS Dark Theme
Name=SOVANNAPHUMI Dark
X-KDE-PluginInfo-Author=PHAL Brilliant
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=phalbrilliant@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL 2.1+
X-KDE-PluginInfo-Name=org.koompi.theme.sovannaphumi-dark
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=https://koompi.org
X-KDE-ServiceTypes=Plasma/LookAndFeel
